:host {
  display: block;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}

.chat-screen .flex-1 {
  min-height: 0; /* necesario para que overflow-y-auto funcione dentro del flex */
}
