:host {
  display: block;
  min-height: 100%;
  background-color: #fff9f3;
}

.profile-page {
  background-color: #fff9f3;
  min-height: 100%;
}

.stat-card {
  background-color: #fff;
  border: 1px solid rgba(251, 146, 60, 0.2);
}
